*{
    margin: 0;
    padding: 0;
}
#main{
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    height: 75%;
    width: auto;
    filter: drop-shadow(0 0 40px deeppink); 
   
}
