#main{
    border: 5px solid green;
    background-color: deeppink;
    height:35vh;
    width:70%;
    padding: 25px;
    font-size: 20px;
    box-sizing: content-box;
    margin: 10px;
   
}
#main1{
    border: 5px solid green;
    background-color: deeppink;
    height:35vh;
    width:70%;
    padding: 25px;
    font-size: 20px;
    box-sizing: border-box;
    margin: 10px;
    
}