#main{
    height: 5vh;
    background-color: #808080;
}
p{
    height: 5vh;
    background-color: deeppink;
}
a{
    height: 5vh;
    background-color: green;
}
span{
    height: 5vh;
    background-color: blue;
}
.kl{
    height: 5vh;
    background-color: yellow;
    display: inline-block;
}