*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    height: 100vh;
    width: 100%;
    background-color: palegreen;
    position: relative;
}
#content{
    padding-top: 95px;
    text-align: center;
    height: 40vh;
    width: 100%;
    background-color: black;
    position: absolute;
    margin-top: 30vh;
}
h1{
    
    color: whitesmoke;
    position: relative;
}
h1::before{
    content: "RADHAKANT PANDA";
    position: absolute;
    color: deeppink;
    transform: translateX(-3px);
    
}
h1::after{
    content: "";
    position: absolute;
    border:3px solid salmon;
    right:40.5%;
    width: 6%;
    bottom: 0;
}
h1::first-letter{
    color: cyan;
}
p{
    color:beige
}
p::first-line{
    font-size: larger;
}
p::selection{
    color: blue;
    background-color: #fff;
}