*{
    margin: 0;
    padding: 0;
}
#main{
    z-index: 5;
    height: 200vh;
    width: 100%;
    background-image: linear-gradient(to top right,rgba(255,0,0,1),rgba(0,0,255,1));
}
#head{
    height: 100vh;
    width: 100%;
}
#body{
    height: 100vh;
    width: 100%;
}
h1{
    z-index: 10;
    border: 5px solid green;
    position: fixed;
    color: darkred;
}
button{
    padding: 3px;
    position: sticky;
    top:50%;
    left:20%;
}
